.web-header{
    display: flex;
    border: 1px solid black;
    padding:5px;
    margin:20px;
    border-radius: 50px;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: white;
    #title-logo{
        display: flex;
        a{
            text-decoration: none;
            color: var(--color-black);
            align-self:center
        }
    }

    #web-logo{
        width: 70px;
        height: 70px;
    }

    #web-title{
        margin-left: 10px;
        align-self: center;
        text-transform: uppercase;
        /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
        font-size: 30px;
        /* letter-spacing: 3px; */
    }

    .navs{
        display: flex;
        flex-direction: row;
        gap:40px;
        align-self: center;
        margin-right:30px;
        ul{
            display: flex;
            gap: 20px;
            list-style-type: none;
        }

        a{
            text-decoration: none;
            color: var(--color-black);
            padding: 0;
            transition: all 300ms;
            border: 0;
        }

        & a:hover{
            border-bottom: 3px solid var(--color-black);
            padding-bottom: 6px;
        }
    }

    .social-nav {
        align-self: center;

        ul{
            display: flex;
            gap: 20px;
            margin-right: 30px;
        }

        li{
            list-style-type: none;
        }

        a i{
            font-size:20px;
            color: black;
        }
    }

    .burger{
        display: none;
    }
    
    @media(max-width: 768px){
        .navs{
            display: none;
        }

        #web-title{
            font-size: 20px;
        }

        .burger{
            display: block;
        }
    }
}